* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
    box-sizing: border-box;
}

body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(44, 146, 90);
}

.customer {
    position: absolute;
    left: -220px;
    top: 239px;
}

.server {
    position: absolute;
    left: 320px;
    top: 400px;
}